<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.pkbv2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BerandaActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".perlengkapan.PerlengkapanActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".perlengkapan.PerlengkapanDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".sebelum.SebelumActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".sebelum.SebelumDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".saat.SaatBkActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".saat.SaatBkDetail"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>
</manifest>